<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354019570021-a4pop288k7hia2fto7pep7ljb84308o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354019570021-a4pop288k7hia2fto7pep7ljb84308o9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>354019570021-a019q8p6vcngcqapf4q1sdh555tij3f5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCy-lsvUrcnCI5UCS9a-8HLXC9B9SNkHP0</string>
	<key>GCM_SENDER_ID</key>
	<string>354019570021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agprogramming.not</string>
	<key>PROJECT_ID</key>
	<string>not-app-c341e</string>
	<key>STORAGE_BUCKET</key>
	<string>not-app-c341e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354019570021:ios:1e6abdf2042e32ff18b18c</string>
</dict>
</plist>